* {
  box-sizing: content-box;
  font-family: sans-serif;
}

/* .container {
  background-color: black;
} */

@mixin local-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin zero-whitespace {
  margin: 0;
  padding: 0;
}

.greeting {
  background-color: rgb(231, 242, 243);
  @include local-centering();
  flex-flow: row-reverse;
}
.intro {
  font-size: 5em;
  flex: 60%;
  padding-left: 20%;
}

.img {
  flex: 40%;
  @include local-centering();
}

@mixin flex-box() {
  display: flex;
  height: 33vh;
  font-size: 6vh;
  align-items: center;
}

.bio {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

#student {
  @include flex-box;
  padding: 0% 7% 0 7%;
  justify-content: flex-end;
}

#web {
  padding: 0 7% 0 7%;
  @include flex-box;
}
#ml {
  @include flex-box;
  padding: 0 7% 0% 7%;
  justify-content: flex-end;
}

h3 {
  margin: 0;
}

.card {
  margin: 0 20px 20px 0;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}

.projects {
  @include local-centering();
}
.proj-title {
  @include local-centering();
  flex: 40%;
  font-size: 80px;
  padding: 0 5% 0 5%;
}
.proj-content {
  flex: 60%;
}

.card a {
  text-decoration: none;
  padding: 3px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(228, 235, 235);
}

a:hover {
  background-color: rgb(147, 153, 153);
}

.contact {
  @include local-centering();
  flex-flow: column;
}

.about-me {
  flex: 70vh;
}

.about-me h4 {
  font-size: 50px;
}

.logos {
  height: 50%;
  @include local-centering();
}

.logos a {
  padding: 0 20px 0 20px;
}

.footer {
  @include local-centering();
  flex-flow: column;
  width: 100%;
  flex: 30vh;
  background-color: lightslategray;
}

.message {
  padding-top: 10px;
}

@media screen and (max-width: 883px) {
  .greeting {
    padding: 30px;
    flex-flow: column;
    @include local-centering();
  }
  .intro {
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-size: 4em;
  }
  .img {
    padding: 0;
    @include local-centering();
  }
  .projects {
    font-size: 7vh;
    @include local-centering();
  }
  .projects {
    @include local-centering();
    flex-flow: column;
    margin: 0;
    padding: 0;
  }
  .proj-title {
    font-size: 7.5vh;
    flex: 20%;
  }
  .proj-content {
    display: flex;
    flex-flow: column;
    flex: 80%;
    justify-content: left;
    align-items: center;
    padding: 0 30px 0 30px;
  }
  .card {
    margin: 0 0 10px 0;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
  }
  .card h4 {
    font-size: 25px;
    @include zero-whitespace();
    padding-bottom: 5px;
  }
  .card p {
    font-size: 15px;
    @include zero-whitespace();
  }
  .card a {
    font-size: 15px;
  }
}
